@model Meu_Treino.Models.Dtos.Usuario
@{
    Layout = "_LayoutDeslogada";
    ViewData["Title"] = "Cadastro de Usuário";
    
}
@if(TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemSucesso"]
    </div>
}
@if(TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}



<h1 class="display-3">Faça seu cadastro no <strong class="meuTreino">Meu Treino</strong></h1>


<form asp-controller="Usuario" asp-action="Cadastro" method="post">
<section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
        <br />
            <div class="text-end"><label  asp-for="DataCadastro">@DateTime.Now</label></div>
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                    <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Cadastre-se no <strong class="MeuTreino">Meu Treino</strong></p>

                                <form class="mx-1 mx-md-4">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="NomeUsuario">Nome</label>
                                            <input type="text" asp-for="Nome" class="form-control" placeholder="Digite seu Nome" />
                                            @Html.ValidationMessageFor(p => p.Nome)
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="Login">Nome do Usuário</label>
                                            <input type="text" asp-for="Login" class="form-control" placeholder="Digite seu nome de usuário"/>
                                                @Html.ValidationMessageFor(p => p.Login)
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="EmailUsuario">Email</label>
                                            <input type="email" asp-for="Email" class="form-control" placeholder="Digite seu email" />
                                                @Html.ValidationMessageFor(p => p.Email)
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <div class="form-outline flex-fill mb-0">
                                            <label class="form-label" for="Senha">Senha</label>
                                            <input type="password" asp-for="Senha" class="form-control" placeholder="Digite sua Senha" />
                                                @Html.ValidationMessageFor(p => p.Senha)
                                        </div>                                        
                                        
                                    </div>
                                        <div class="d-flex flex-row align-items-center mb-4">
                                            <div class="form-outline flex-fill mb-0">
                                                <label class="form-label" for="Genero">Gênero</label><br>
                                                <input type="radio" name="Genero" value="Masculino" onclick="showOutro(false)"> Masculino<br>
                                                <input type="radio" name="Genero" value="Feminino" onclick="showOutro(false)"> Feminino<br>
                                                <input type="radio" name="Genero" value="Outro" onclick="showOutro(true)"> Outro<br>
                                                <div id="outroDiv" style="display:none;">
                                                    <label for="outro">Especifique:</label><br>
                                                    <input type="text" id="outro">
                                                </div>
                                            </div>
                                        </div>

                                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                                        <button type="submit" class="btn btn-primary btn-lg">Cadastrar</button>
                                    </div>
                                        <div class="text-lg text-center btn-block">
                                            <a class="btn btn-primary" asp-controller="Login" asp-action="Index" role="button">Login do Usuário</a>
                                        </div>
                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://static.independent.co.uk/s3fs-public/thumbnails/image/2018/03/19/18/idoh-exercise.jpg"
                                     class="img-fluid" alt="Sample image">

                            </div>
                            
                        </div>
                    </div>

                </div>
                
            </div>
            
            
        </div>        
    </div>
</section>
</form>

<script>    
    function showOutro(show) {
        if (show) {
            document.getElementById("outroDiv").style.display = "block";
        } else {
            document.getElementById("outroDiv").style.display = "none";
        }
    }
</script>








