@using Meu_Treino.Enums;
@model List<Meu_Treino.Models.Dtos.Usuario>
@{
    ViewData["Title"] = "Lista Usuários";
    
}

@if (TempData["MensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemSucesso"]
    </div>
}
@if (TempData["MensagemErro"] != null)
{
    <div class="alert alert-danger" role="alert">
        <button type="button" class="btn btn-secondary btn-sm close-alert" arial-label="Close">x</button>
        @TempData["MensagemErro"]
    </div>
}


<div class="text-center">
    <h1 class="display-4">Lista de Usuario</h1>

    <table class="table" id="tab-usuarios">
        <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Login</th>
                <th scope="col">Email</th>
                <th scope="col">DataCadastro</th>
                <th scope="col">Tipo Perfil</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            @if(Model != null && Model.Any())
            {
                foreach(Meu_Treino.Models.Dtos.Usuario usuario in Model)
                {
                    <tr>
                        <th scope="row">@usuario.Id</th>
                        <td>@usuario.Nome</td>
                        <td>@usuario.Login</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.DataCadastro</td>
                        <td>@usuario.Perfil</td>
                        <td>
                            <div class="btn-group" role="group" aria-label="Basic example">
                                <a role="button" asp-controller="Usuario" asp-action="Editar" asp-route-id="@usuario.Id" class="btn btn-secondary">Editar</a>
                                <button class="btn btn-danger apagar-btn" data-usuario-id="@usuario.Id">Apagar</button>
                            </div>
                        </td>

                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<!--modal de exclusão-->
<dialog>

    <div class="text-center">
        <p>
            <h2>Deseja realmente apagar este Usuário?</h2>
        </p>
        <a class="btn btn-danger" asp-action="Apagar" asp-controller="Exercicio" id="confirmarExclusaoBtn" asp-route-id="" role="button">Confirmar exclusão</a>
        <button class="btn btn-primary fechar-btn">Cancelar</button>
    </div>
</dialog>



<script>
    const buttonsApagar = document.querySelectorAll('.apagar-btn');
    const modal = document.querySelector('dialog');
    const buttonClose = document.querySelector('.fechar-btn');
    const confirmarExclusaoBtn = document.querySelector('#confirmarExclusaoBtn');

    buttonsApagar.forEach(function (button) {
        button.onclick = function () {
            modal.showModal();
            const usuarioId = this.getAttribute('data-usuario-id');
            confirmarExclusaoBtn.setAttribute('href', `/Usuario/Apagar/${usuarioId}`);
        };
    });

    buttonClose.onclick = function () {
        modal.close();
    };


</script>


