@model IEnumerable<Meu_Treino.Models.Dtos.PlanosTreino>

@{
    ViewData["Title"] = "Planos";
}

@foreach(var item in Model)
{
    <div class="accordion" id="painelPlanos">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-10">
                        <button class="btn btn-link btn-block text-end text-left" type="button" data-toggle="collapse" aria-expanded="false" aria-controls="@item.Identificadores" data-target="#@item.Identificadores">
                        @item.Datas
                    </button>
                    
                </div>
                <div class="col-2">
                        <a asp-action="CriarExercicioPlano" asp-controller="ExercicioPlano" asp-route-dataPlano="@item.Datas" class="btn btn-sm btn-outline-warning"><strong class="text-black">Novo Exercicio</strong></a>
                </div>
                </div>
            </div>
            <div id="@item.Identificadores" class="collapse show" data-parent="#painelPlanos">
                <div class=" card card-body">
                    @await Component.InvokeAsync("ListaExercicios", item.Datas)
                </div>
            </div>
        </div>
    </div>
}


@Html.DisplayNameFor(model => model.NomePlano)
           