@model IEnumerable<Meu_Treino.Models.Dtos.ExerciciosPlano>

@{
    ViewData["Title"] = "Planos de Treino";
}
<div class="border border-light shadow rounded roundedalign-content-lg-around p-4">
@if (Model.Count() > 0)
{
    <ul class="list-group">
            <div class="text-end">
                <a asp-action="CriarExercicioPlano" asp-controller="ExercicioPlano" class="btn btn-lg btn-sm btn-outline-warning"><strong class="text-black"><strong>Novo Exercicio</strong></a>
            </div>
        @foreach (var item in Model)
        {
            <li class="list-group-item">
                <div class="row">
                    <div class="col-2">
                        <span class="badge badge-info"> @Html.DisplayFor(modelItem => item.Repeticoes)</span>
                    </div>

                    <div class="col-2">
                            <h5>Nome do Exercicio</h5> <a class="btn btn-sm btn-outline-warning text-black" asp-action="Index" asp-controller="Exercicio">
                        @Html.DisplayFor(modelItem => item.Exercicio.Nome) </a>
                    </div>

                        <div class="col-2">
                            <h5>Reperiçõs:</h5>
                            @Html.DisplayFor(modelItem => item.Repeticoes)
                        </div>
                    <div class="col-2">
                        <h5>Series:</h5>
                        @Html.DisplayFor(modelItem => item.Series)
                    </div>

                    <div class="col-4">
                            <button class=" apagar-btn btn btn-sm btn-outline-danger rounded-circle" data-exercicio-id="@item.Id">
                                <i class="fa fa-times-circle">
                                </i>
                            </button>
                    </div>

                </div>
            </li>
        }
    </ul>
}
else
{
    <p class="alert alert-warning rounded rounded-3">Sem Exercicios Ainda</p>
}

</div>



<!--Modal p/ confirmar exclusão-->
<dialog>
    <div class="text-center">
        <p>
            <h2>Deseja realmente apagar este exercicio?</h2>
        </p>
        <a class="btn btn-danger" asp-action="Apagar" asp-controller="ExercicioPlano" id="confirmarExclusaoBtn" asp-route-id="" role="button">Confirmar exclusão</a>
        <button class="btn btn-primary fechar-btn">Cancelar</button>
    </div>
</dialog>


    <script>
    const buttonsApagar = document.querySelectorAll('.apagar-btn');
    const modal = document.querySelector('dialog');
    const buttonClose = document.querySelector('.fechar-btn');
    const confirmarExclusaoBtn = document.querySelector('#confirmarExclusaoBtn');

    buttonsApagar.forEach(buttonApagar => {
        buttonApagar.onclick = function () {
            modal.showModal();
            const exercicioId = this.getAttribute('data-exercicio-id');
            confirmarExclusaoBtn.setAttribute('href', `/ExercicioPlano/Apagar/${exercicioId}`);
        };
    });

    buttonClose.onclick = function () {
        modal.close();
    };


    </script>


